.frame {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
}

.frame .main_frame  {
    position: relative;
    width: 1443px;
    height: 1322px;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 2px;
    background-color: #f7fab9;
}

.main_frame .left_frame {
    position: relative;
    width: 305px;
    height: 1315px;

    display: flex;
    flex-direction: column;

    background-color: green;
}