
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajas/libs/font-awesome/4.7.0/css/font-awesome"
    ril="stylesheet"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div class="frame">
<div class="main_frame">
    <div class="left_frame">
        <div class="left_1">
            <div class="left_1_1">
                <img class="left_person_image" src="images/Profile.png" alt="">
            </div>
            <div class="left_1_2">Marcos</div>
            <div class="left_1_3">Heart</div>
            <div class="left_1_icon">
                <a href="" class="link_href">
                    <div class="iconn">
                        <img class="icon-1" src="icon/Facebook.svg" alt="">
                    </div>
                </a>
                <a href="" class="link_href">
                    <div class="iconn">
                        <img class="icon-1" src="icon/Instagram.svg" alt="">
                    </div>
                </a>
                <a href="" class="link_href">
                    <div class="iconn">
                        <img class="icon-1" src="icon/Twitter.svg" alt="">
                    </div>
                </a>
                <a href="" class="link_href">
                    <div class="iconn">
                        <img class="icon-1" src="icon/Linkeding.svg" alt="">
                    </div>
                </a>
                <a href="" class="link_href">
                    <div class="iconn">
                        <img class="icon-1" src="icon/Youtube.svg" alt="">
                    </div>
                </a>
                <a href="" class="link_href">
                    <div class="iconn">
                        <img class="icon-1" src="icon/Dribbble.svg" alt="">
                    </div>
                </a>
            </div>
        </div>
        <div class="left_marginer"></div>
        <div class="left_2">
            <div class="left_2_1">
                <div class="left_2-1_type"> Age:</div>
                <div class="left_1_type1">24</div>
            </div>
            <div class="left_2_1">
                <div class="left_2-1_type">Residence:</div>
                <div class="left_1_type1">BD</div>
            </div>
            <div class="left_2_1">
                <div class="left_2-1_type">Freelance:</div>
                <div class="left_2_type-3">Available</div>
            </div>
            <div class="left_2_1">
                <div class="left_2-1_type">Address:</div>
                <div class="left_1_type1">Dhaka,Bangladesh</div>
            </div>
        </div>
        <div class="left_marginer"></div>
        <div class="left_3">
            <div class="left_3_1">Languages</div>
            <div class="left_3_2">
                <div class="left_3_type_2">Bangla</div>
                <div class="left_3_proc_1">100%</div>
            </div>
            <div class="left_3_procentage">
                <div class="left_3_procentage-2"></div>
            </div>
            <div class="left_3_2">
                <div class="left_3_type_2">English</div>
                <div class="left_3_proc_1">80%</div>
            </div>
            <div class="left_3_procentage">
                <div class="left_3_procentage-3"></div>
            </div>
            <div class="left_3_2">
                <div class="left_3_type_2">Spanish</div>
                <div class="left_3_proc_1">60%</div>
            </div>
            <div class="left_3_procentage">
                <div class="left_3_procentage-4"></div>
            </div>
        </div>
        <div class="left_marginer"></div>
        <div class="left_4">
            <div class="left_4_skills">Skills</div>
            <div class="left_4_type1">
                <div class="Left_4_types">Html</div>
                <div class="Left_4_types">90</div>
            </div>
            <div class="left_4_procentage">
                <div class="left_4_procentage2"></div>
            </div>
            <div class="left_4_type1">
                <div class="Left_4_types">CSS</div>
                <div class="Left_4_types">85</div>
            </div>
            <div class="left_4_procentage">
                <div class="left_4_procentage2-1"></div>
            </div>
            <div class="left_4_type1">
                <div class="Left_4_types">JS</div>
                <div class="Left_4_types">80</div>
            </div>
            <div class="left_4_procentage">
                <div class="left_4_procentage3"></div>
            </div>
            <div class="left_4_type1">
                <div class="Left_4_types">PHP</div>
                <div class="Left_4_types">75</div>
            </div>
            <div class="left_4_procentage">
                <div class="left_4_procentage4"></div>
            </div>
            <div class="left_4_type1">
                <div class="Left_4_types">WordPress</div>
                <div class="Left_4_types">85</div>
            </div>
            <div class="left_4_procentage">
                <div class="left_4_procentage5"></div>
            </div>
        </div>
        <div class="left_marginer"></div>
        <div class="left_5">
            <div class="left_5_type1">Extra Skills</div>
            <div class="left_5_type2">
                <img src="btn_icon/icons.svg" alt="">
                <div>Bootstrap, Materialize</div>
            </div>
            <div class="left_5_type22">
                <img src="btn_icon/icons.svg" alt="">
                <div>Stylus, Sass, Less</div>
            </div>
            <div class="left_5_type2">
                <img src="btn_icon/icons.svg" alt="">
                <div>Gulp, Webpack, Grunt</div>
            </div> <div class="left_5_type22">
                <img src="btn_icon/icons.svg" alt="">
                <div>GIT Knowledge</div>
            </div>
        </div>
        <div class="left_marginer"></div>
    </div>
    <div class="middle_frame">
        <div class="middle_top">
            <div class="middle_type1">Doctor neurologists in OHSU Hospital </div>
            <div class="middle_type2">jggugyhg</div>
            <div></div>
        </div>
        <div class="middle_bot"></div>
    </div>
    <div class="righ_frame"></div>
</div>
</div>
    
</body>
</html>